@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(229, 57%, 11%);
}

img,
svg {
  display: block;
  max-width: 100%;
}

body,
input,
textarea,
button {
  font-family: "Raleway", sans-serif;
}

.flex-items, .fylo-container .secondary-container .available-storage p, .fylo-container .secondary-container .slider-container .min-to-max-gb, .fylo-container .secondary-container .slider-container, .fylo-container .secondary-container, .fylo-container .primary-container, .fylo-container, body {
  display: flex;
  flex-direction: column;
}

body {
  justify-content: center;
  font-size: 0.875rem;
  background-image: url(../images/bg-mobile.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fylo-container {
  gap: 20px;
  width: calc(100% - 3.5rem);
  margin: 0 auto;
}
.fylo-container .primary-container {
  max-width: 500px;
  border-radius: 12px;
  background-color: hsl(228, 56%, 26%);
  padding-inline: 2em 4em;
  padding-block: 2em;
  gap: 20px;
  border-top-right-radius: 70px;
}
.fylo-container .primary-container .storage-systems {
  display: flex;
  gap: 20px;
}
.fylo-container .primary-container .storage-systems .container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(229, 57%, 11%);
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.fylo-container .primary-container .storage-systems .container-img:hover {
  opacity: 0.8;
}
.fylo-container .secondary-container {
  position: relative;
  align-items: center;
  max-width: 500px;
  border-radius: 12px;
  background-color: hsl(228, 56%, 26%);
  padding-inline: 2em;
  padding-block: 2em 4em;
}
.fylo-container .secondary-container .storage-container {
  color: hsl(243, 100%, 93%);
  font-size: 0.8rem;
  margin-bottom: 15px;
}
.fylo-container .secondary-container .slider-container {
  gap: 10px;
  width: 100%;
}
.fylo-container .secondary-container .slider-container #slider {
  flex: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.2rem;
  border-radius: 20px;
  padding: 0.25em;
  background-color: hsl(229, 57%, 11%);
  outline: none;
}
.fylo-container .secondary-container .slider-container input[type=range]::-moz-range-progress {
  height: 1.2rem;
  border-radius: 20px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  cursor: grabbing;
}
.fylo-container .secondary-container .slider-container #slider::-moz-range-thumb,
.fylo-container .secondary-container .slider-container #slider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
}
.fylo-container .secondary-container .slider-container #slider:hover,
.fylo-container .secondary-container .slider-container #slider::-moz-range-thumb:active,
.fylo-container .secondary-container .slider-container #slider::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.fylo-container .secondary-container .slider-container .min-to-max-gb {
  flex-direction: row;
  justify-content: space-between;
}
.fylo-container .secondary-container .slider-container .min-to-max-gb strong {
  color: hsl(243, 100%, 93%);
}
.fylo-container .secondary-container .available-storage {
  position: absolute;
  bottom: -20%;
  background-color: #fff;
  padding: 0.8em 1.5em;
  border-radius: 8px;
}
.fylo-container .secondary-container .available-storage p {
  align-items: center;
  flex-direction: row;
  gap: 5px;
  font-size: 0.6rem;
  color: hsl(229, 7%, 55%);
  font-weight: 700;
}
.fylo-container .secondary-container .available-storage p span {
  color: hsl(229, 57%, 11%);
  font-size: 2rem;
  font-weight: 700;
}
.fylo-container .secondary-container .triangle {
  position: absolute;
  right: 1.85em;
  top: 8.4%;
  display: none;
}
.fylo-container .secondary-container .triangle img {
  transform: rotate(-90deg);
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    background: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .fylo-container {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .fylo-container {
    flex-direction: row;
    justify-content: center;
  }
  .fylo-container .primary-container {
    width: 25%;
    padding: 2em;
  }
  .fylo-container .secondary-container {
    padding-block-end: 2em;
    height: 50%;
    width: 60%;
    align-self: flex-end;
  }
  .fylo-container .secondary-container .storage-container {
    align-self: flex-start;
  }
  .fylo-container .secondary-container .available-storage {
    right: 2em;
    bottom: 80%;
  }
  .fylo-container .secondary-container .triangle {
    display: block;
  }
}
.attribution {
  margin-block-start: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  color: orangered;
}

.attribution a {
  color: hsl(243, 100%, 93%);
}/*# sourceMappingURL=style.css.map */