@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$font-default: "Raleway", sans-serif;
$Gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Very-Dark-Blue: hsl(229, 57%, 11%);

$Font-size: 0.875rem;
$transition: all 0.4s ease;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  background-color: $Very-Dark-Blue;
}
img,
svg {
  display: block;
  max-width: 100%;
}

body,
input,
textarea,
button {
  font-family: $font-default;
}
.flex-items {
  display: flex;
  flex-direction: column;
}
@mixin container-styles {
  max-width: 500px;
  border-radius: 12px;
  background-color: $Dark-Blue;
}
@mixin images-bg {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $Very-Dark-Blue;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
}

@mixin slider-progress-styles {
  height: 1.2rem;
  border-radius: 20px;
  background: linear-gradient(to right, $Gradient);
  cursor: grabbing;
}

@mixin slider-thumb {
  width: 10px;
  height: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
}
